body{
  background: url('../img/burger.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.topContainer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  
    
    
    

  }
  #newburger {
    color: #5c5c5c;
  }
  .leftContainer{
  border-style: dotted;
  background-color:green;
  }


  #leftside {
    background-color:green;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }
  .rightContainer{
      border-style: dotted;
      background-color: #e49322;
      }
  
  #rightside {
    background-color: #e49322;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }

  h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

 

  